.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: rgb(180, 177, 177);
    color: rgb(17, 17, 17);
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border-radius: 6px;
    padding: 15px 15px 15px 15px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    /* transition: opacity 1s; */
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}